html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.instructions {
    width: 300px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 3px dashed lightgray;
    border-radius: 10px;
    line-height: 75px;
}

.instructions__text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    font-size: 1.3em;
    color: gray;
}
